/*** BASICS ***/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --nav-color: #2e323f;
  --hero-color: #3b4050;
  --intro-color: #f2f2f2;
  --secondary-color: #a59678;
  --text-dark: var(--hero-color);
  --text-mid: #6f737f;
  --text-light: #fff;
}

body,
h1,
h2,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

/*** REUSABLE ***/

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.col {
  flex: 1;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-light);
  font-weight: 700;
  background-color: var(--secondary-color);
  padding: 0.3em 2em;
  border-radius: 10em;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

/*** MOBILE NAVIGATION ***/

header {
  text-align: center;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: var(--secondary-color);
  color: var(--text-light);
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
  top: -2px;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

/*** TYPOGRAPHY & COLORS ***/

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
}

h1,
h2,
.btn,
.nav__link {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.875rem;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-light);
}

.nav__link:hover,
.nav__link:focus,
.footer__link:hover,
.footer__link:focus {
  opacity: 0.75;
}

.hero {
  color: var(--text-light);
  background-color: var(--hero-color);
}

.hero__title {
  color: var(--text-light);
  line-height: 1.1;
}

.hero__title--emphasis {
  color: var(--secondary-color);
}

.hero__content {
  font-size: 1.25rem;
}

.intro-section {
  background-color: var(--intro-color);
}

.intro-card__title {
  color: var(--secondary-color);
}

.intro-card__content,
.main-section-content {
  color: var(--nav-color);
}

.main-section {
  background-color: var(--text-light);
}

.main-section-content__title {
  font-size: 2.25rem;
  color: var(--secondary-color);
}

.sidebar-card {
  background-color: var(--hero-color);
  color: var(--text-light);
  text-align: center;
}

footer {
  background-color: var(--nav-color);
}

.footer-title {
  color: var(--text-light);
  font-size: 3rem;
  line-height: 1.1;
}

.footer-card__title {
  color: var(--secondary-color);
}

.footer-card__content {
  color: var(--text-mid);
}

.nav__list,
.footer-card__list {
  list-style: none;
}

.footer__link {
  text-decoration: none;
  color: var(--text-mid);
}

/*** LAYOUT ***/

header {
  background-color: var(--nav-color);
  padding: 1em 0;
}

h2 {
  margin-bottom: 0.3em;
}

.logo {
  height: 30px;
}

.nav__list,
.footer-card__list {
  padding: 0;
}

.nav__list--primary {
  margin-bottom: 2em;
}

.nav__item {
  margin: 1em 0;
}

.nav__link.btn {
  padding: 0.3em 1em;
}

.hero {
  padding: 5em 0;
}

.hero__title {
  margin-bottom: 2em;
}

.hero__content p {
  margin-bottom: 1em;
}

.intro-section {
  padding: 1em 0;
}

.intro-card {
  margin: 1.5em 0;
  text-align: center;
}

.main-section {
  padding: 2em 0;
}

.main-section img {
  margin: 1em 0;
}

.sidebar-card {
  margin: 1em 0;
  padding: 2em;
}

footer {
  padding: 3em 0;
}

.footer-card {
  margin: 2em 0;
}

.footer-title {
  margin-bottom: 1em;
}

/*** BREAKPOINTS ***/

@media (min-width: 700px) {
  .container {
    width: 85%;
  }

  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-self: center;
    justify-content: end;
    align-items: center;
    height: auto;
  }

  .nav__list {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .nav__item {
    margin: 0 0.5em;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .hero > .row {
    display: block;
  }

  .intro-card {
    margin: 1em;
  }

  .main-section > .row {
    display: block;
  }

  .sidebar {
    display: flex;
    margin-top: 1em;
  }

  .sidebar-card {
    margin: 0 0.5em;
    padding: 1em;
  }

  footer > .row {
    display: block;
  }

  .footer-card {
    margin: 1em 0;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 80%;
  }

  h1 {
    font-size: 5.625rem;
  }

  .hero__content {
    font-size: 1.5rem;
  }

  .hero > .row,
  .main-section > .row,
  footer > .row {
    display: flex;
  }

  .hero > .row {
    align-items: end;
  }

  .main-section > .row {
    align-items: start;
  }

  .sidebar {
    display: block;
    margin-left: 5em;
  }

  .sidebar-card {
    margin: 1em 0;
    padding: 2em;
  }

  .hero__content {
    margin-left: 2em;
  }

  footer .row {
    gap: 1em;
  }

  .footer-about {
    flex: 1;
  }

  .footer-links {
    flex: 1.5;
  }

  .footer-links > .footer-card {
    flex: 1;
  }
}
